html, body {
	background-color: #272822; /* Sublime black */
	color: #839496; /* cobalt blue */
}

a, a:visited, a:active {
	color: #a5937b; /* faded gold */
	border-color: #874c98; /* dark gray */
}

a:hover {
	background-color: #874c98;
	border-color: #874c98;
	color: #a5937b;
}

h1, h2, h3 {
	color: #a5937b; /* faded gold */
}

h1 a, h1 a:visited, h1 a:active {
	color: #a5937b;
}

h1 a:hover {
	background-color: #874c98;
	border-color: #874c98;
	color: #a5937b;
}

article h1 a.anchor {
	color: #a5937b;
}

blockquote {
	border-color: #a5937b;
}

#sidebar a:hover {
	color: #a5937b;
	background-color: #874c98;
}

#footer {
	border-color: #874c98;
}

input.btn {
    background-color: #83d496; /* light green */
    font-family: 'Carter One', cursive;
    font-size: 27px;
    color: #874c98; /* dark grey */
}