html, body {
	background-color: #272822; /* Sublime black */
	color: #839496; /* cobalt blue */
}

a, a:visited, a:active {
	color: #a5937b; /* faded gold */
	border-color: #073642; /* dark gray */
}

a:hover {
	background-color: #073642;
	border-color: #073642;
	color: #a5937b;
}

h1, h2, h3 {
	color: #a5937b; /* faded gold */
}

h1 a, h1 a:visited, h1 a:active {
	color: #a5937b;
}

h1 a:hover {
	background-color: #073642;
	border-color: #073642;
	color: #a5937b;
}

article h1 a.anchor {
	color: #a5937b;
}

blockquote {
	border-color: #a5937b;
}

#sidebar a:hover {
	color: #a5937b;
	background-color: #073642;
}

#footer {
	border-color: #073642;
}

input.btn {
    background-color: #83d496; /* la fée verte */
    font-family: 'art-deco', fantasy;
    font-size: 27px;
    color: #073642; /* dark grey */
}