html, body {
	background-color: #ddbd85; /* "burlywood" background colour */
	color: #000000; /* black */
}

/* hyperlinks for sidebar */
a, a:visited, a:active {
	color: #0a4282; /* dark cerulean */
	border-color: #b5d7ff; /* blue diamond */
}

a:hover {
	background-color: #b5d7ff; /* highlight links upon hovering − blue diamond */
	border-color: #b5d7ff;
	color: #0a4282;
}

h1, h2, h3 {
	color: #0a4282; /* dark cerulean */
}

h1 a, h1 a:visited, h1 a:active {
	color: #0a4282; /* dark cerulean */
}

h1 a:hover {
	background-color: #b5d7ff;
	border-color: #b5d7ff;
}

article h1 a.anchor {
	color: #0a4282;
}

blockquote {
	border-color: #0a4282;
}

#sidebar a:hover {
	color: #0a4282; /* teal */
	background-color: #b5d7ff;
}

#footer {
	border-color: #b5d7ff;
}
