<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">
<head>

  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="https://fonts.googleapis.com/css?family=Carter+One|Luckiest+Guy|Press+Start+2P" rel="stylesheet">
  <link href="{{ site.baseurl }}/images/favicon128.png" rel="icon" sizes="128x128" type="images/png"/>
  <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet" />
  <link href="{{ site.baseurl }}/assets/css/colors-cv.css" rel="stylesheet" />
</head>

<body>

  <header id="header">
    <div class="mascot">
      <img src="{{ site.baseurl }}/images/tanuki_ai_mascot.svg" width=200/>
    </div>
    <div class="site-heading">
      <h1><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      <h2>狸 - ホスピタリティアナリティクス</h2>
      <p>
        {{ site.description }}
      </p>
    </div>
  </header>



  <div id="page">
    <div id="sidebar">
      <nav>
        <ul>
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/about">About</a></li>
        </ul>
      </nav>
    </div>

    <div id="content">
      {{ content }}
    </div>

  </div>



  <footer id="footer">
    <p class="copyright">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.name }}.</p>
  </footer>



  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/jquery.mobilemenu.min.js"></script>
  {% include analytics.html %}
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/firefly.js"</script>
  <script>
    $(document).ready(function(){
      $('#sidebar nav ul').mobileMenu({'topOptionText': 'Menu', 'prependTo': '#sidebar nav'});
    });
  </script>
  <script type="text/javascript">
   $(document).ready(function(){
       firefly("header", 20, "large", "#874c98");
     });
     </script>
</body>
</html>